.trocas {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 80%;
}
.trocas h1 {
  font-size: 30px;
  font-family: poppins;
  color: #018bd6;
}
.trocas p {
  font-size: 13px;
  color: #4b4f58;
  font-family: poppins;
  line-height: 1.6;
  margin-top: 15px;
}
@media screen and (min-width: 992px) and (max-width: 4000px) {
  .trocas {
    width: 60%;
  }
  .trocas p {
    line-height: 2;
    font-size: 14px;
  }
}
