/* slider rotativo */

.sliderM {
  margin-top: 30px;
  overflow: hidden;
}

.banner {
  width: 100%;
}
.sliderD {
  display: none;
}
/* seções de produtos */
.title h1 {
  font-family: poppins;
  text-align: center;
  font-weight: 500;
}

.productSections {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}
.secG {
  margin-top: 50px;
}

/* seção de categorias */

.categoriesSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.categoriesSection1 {
  width: 85vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 50px;
  height: 150px;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
}
.categoriesSection1 img {
  width: 100px;
  height: 100px;
  display: flex;
}
.categoriesSection a {
  text-decoration: none;
}
.categoriesSection1 h1 {
  font-family: poppins;
  color: #4b5562;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

/* seção de informações */

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info1 {
  margin-top: 70px;
}
.info1 svg {
  display: flex;
  width: 40px;
  height: 40px;
}
.info1 h1 {
  font-family: poppins;
  font-weight: 600;
  font-size: 17px;
  display: flex;
  justify-content: center;
}
.info1 h2 {
  font-family: poppins;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: center;
}
