@media screen and (min-width: 992px) and (max-width: 4000px) {
  /* slider rotativo */
  .sliderD {
    margin-top: 30px;
    display: block;
    overflow: hidden;
  }
  .banner2 {
    width: 100%;
    height: 80%;

    object-fit: cover;
  }
  .sec {
    display: none;
  }
  .sec2 {
    display: block;
  }
  .sliderM {
    display: none;
  }

  /* seção de categorias*/
  .categoriesSection {
    width: 90%;
  }
  .categoriesSection1 {
    width: 40vw;
  }

  /* seção de informações */

  .info {
    flex-direction: row;
    margin-top: 50px;
  }
}
