.add {
  margin-top: 30px;
  width: 90%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  padding: 10px 0px;
}
.add1 {
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.add1 h1 {
  font-size: 17px;
  font-family: poppins;
  color: black;
  font-weight: 600;
}
.add1 p {
  font-family: poppins;
  font-size: 13px;
  color: rgb(65, 65, 65);
}
.add1 input {
  margin-top: 5px;
  padding: 0.5rem;
  width: 60%;
  font-size: 13px;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: poppins;
  text-indent: 2px;
}
.add1 button {
  padding: 10px;
  color: white;
  font-family: poppins;
  font-size: 15px;
  font-weight: 500;
  background-color: #018bd6;
  border: 0;
  border-radius: 10px;
  width: 50%;
  cursor: pointer;
}
.add1 img {
  width: 150px;
  height: 100px;
  margin-top: 5px;
}
button.remove {
  background-color: red;
  font-size: 10px;
  width: 30%;
}
button.remove2 {
  background-color: red;
  font-size: 10px;
  font-size: 15px;
  width: 50%;
}

@media screen and (min-width: 992px) and (max-width: 4000px) {
  .add {
    width: 60%;
  }
  .add1 {
    width: 80%;
  }
  .add1 input {
    width: 60%;
  }
  .add1 button {
    width: 100%;
  }
  button.remove {
    width: 30%;
    margin-top: 5px;
  }
}
